.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  opacity: 0;
  animation: fadeIn 150ms ease-out 600ms forwards;
}

.cube {
  overflow: visible;
}

.line {
  stroke: var(--bit-color-muted);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: move 3s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}
