.timelineTime {
  composes: timelineTime from "./TimelineItemBase.module.css";
}

.timelineReviewInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

.timelineContent {
  composes: timelineContent from "./TimelineItemBase.module.css";
}
